In [23]:
import pandas as pd
import scrapy
import requests
from bs4 import BeautifulSoup
import re

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pydotplus

In [264]:
urls = ['https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(0%E2%80%939_and_A%E2%80%93C)',
       'https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(D%E2%80%93J)',
       'https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(K%E2%80%93R)',
       'https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(S%E2%80%93Z)']

Scrape Wikipedia for works of fiction that have been turned into feature films

In [265]:
def return_dataframe(url):
    '''Takes in a url from the wikipedia "List of Fiction Works Made into 
    Feature Films", scrapes the page and returns a dataframe.
    '''
    response = requests.get(url)
    responsePage = response.text
    soup = BeautifulSoup(responsePage,'html.parser')
    
    bookMovie = []
    for tr in soup.find_all('tr')[2:]:
        if tr == 'NoneType':
            next
        else:
            cols = tr.find_all('td')
            x = []
            for td in cols:
                x.append(td.text)
            bookMovie.append(x)
    
    df = pd.DataFrame(bookMovie,columns=['fiction_work','film_adaptation'])
    return df

In [266]:
df = return_dataframe(urls[3])

In [267]:
df.head()

,fiction_work,film_adaptation
0,"The Saga of Pecos Bill (1923), Edward O'Reilly",Melody Time (1948)\nTall Tale (1995)
1,"Sahara (1992), Clive Cussler",Sahara (2005)
2,The Sailor Who Fell from Grace with the Sea (1...,The Sailor Who Fell from Grace with the Sea (1...
3,"Saint Jack (1973), Paul Theroux",Saint Jack (1979)
4,"Saint Johnson (1930), W. R. Burnett",Law and Order (1932)\nWild West Days (1937)

In [292]:
wikiDF = pd.DataFrame()

In [293]:
wikiDF.head()

Empty DataFrame
Columns: []
Index: []

In [294]:
for url in urls:
    df = return_dataframe(url)
    print(df.head(2))
    wikiDF = wikiDF.append(df,ignore_index=True)

                                fiction_work       film_adaptation
0          100 Rifles (1958), Robert MacLeod     100 Rifles (1969)
1  101 Reykjavík (1996), Hallgrímur Helgason  101 Reykjavík (2000)
                          fiction_work           film_adaptation
0  The Da Vinci Code (2003), Dan Brown  The Da Vinci Code (2006)
1          Dad (1981), William Wharton                Dad (1989)
  fiction_work                                    film_adaptation
0         \n\n  This article does not cite any sources. Please...
1         None                                               None
                                     fiction_work  \
0  The Saga of Pecos Bill (1923), Edward O'Reilly
1                    Sahara (1992), Clive Cussler

                        film_adaptation
0  Melody Time (1948)\nTall Tale (1995)
1                         Sahara (2005)

In [295]:
wikiDF.shape

(1665, 2)